  <legend>Contact Info</legend>
  <div class="input-prepend control-group">
    <span class="add-on" title="Name"><i class="icon-user icon-white"></i></span>
      <input name="name" class="required" id="name" type="text" placeholder="Name"/><span class="red"> * </span>
  </div>
  <div class="input-prepend control-group">
    <span class="add-on" title="Email"><i class="icon-envelope icon-white"></i></span>
      <input name="email" class="required" id="email" type="text" placeholder="Email"/><span class="red"> * </span>
  </div>
  <div class="input-prepend control-group">
    <span class="add-on" title="Phone"><b style="color: white !important;">#</b></span>
      <input name="phone" class="number required" id="phone" type="text" placeholder="Phone Number"/><span class="red"> * </span>
  </div>