<ul class="location-list">
	<li>Aliso Viejo	</li>
	<li>Anaheim</li>
	<li>Brea</li>
	<li>Buena Park</li>
	<li>Costa Mesa</li>
	<li>Cypress</li>
	<li>Dana Point</li>
	<li>Fountain Valley</li>
	<li>Fullerton</li>
	<li>Garden Grove</li>
	<li>Huntington Beach</li>
</ul>
<ul class="location-list">
	<li>Irvine</li>
	<li>Laguna Beach</li>
	<li>Laguna Hills</li>
	<li>Laguna Niguel</li>
	<li>La Habra</li>
	<li>Lake Forest</li>
	<li>La Palma</li>
	<li>Los Alamitos</li>
	<li>Mission Viejo</li>
	<li>Newport Beach</li>
	<li>Orange</li>
</ul>

<ul class="location-list">
	<li>Placentia</li>
	<li>Rancho Santa Margarita</li>
	<li>San Clemente	
	<li>San Juan Capistrano</li>
	<li>Santa Ana</li>
	<li>Seal Beach</li>
	<li>Stanton</li>
	<li>Tustin</li>
	<li>Villa Park</li>
	<li>Westminster</li>
	<li>Yorba Linda</li>
</ul>